@charset "utf-8";
* {
  box-sizing : border-box;
}
html {
  font-family : "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size : 16px;
}
body {
  text-align : center;
}
h1, h2 {
  padding : 10px;
}
h1, h2, h3 {
  font-weight : bold;
  padding : 5px;
}
h1 {
  font-size : 2em;
}
h2 {
  font-size : 1.6em;
  border-bottom : 2px solid darkgrey;
}
h3 {
  font-size : 1.2em;
}
p {
  padding : 10px;
}
section {
  width : 1000px;
  margin : 0 auto;
  overflow : auto;
}
.innerSection {
  margin : 0 auto;
}
.heading {
  width : 249px;
  float : left;
  overflow : hidden;
}
.dataRow {
  width : 100%;
  border-bottom : 2px solid darkgrey;
  overflow : hidden;
}
.dataCol {
  width : 25%;
  float : left;
  overflow : hidden;
}
#addNewWidget {
  border : rebeccapurple solid 1px;
  width : 300px;
  margin : 0 auto;
  padding : 10px;
  text-align : left;
}
#addNewWidget label {
  font-style : italic;
}
#addNewWidget input {
  padding : 15px;
}
.nameBox {
  width : 100%;
}
.descriptionBox {
  height : 100px;
  width : 100%;
}
.requiredStars {
  color : red;
}